.global() {
	div {
		display: none;
	}

	a {
		font-size: 50px;
	}
	#g {
		display: block;
	}

}

.desktop() {
	a {
		color: #EEE;
	}
	#d {
		display: block;
	}
}

.mobile() {
	a {
		color: black;
	}
	#m {
		display: block;
	}
}

.tablet() {
	a {
		color: grey;
	}
	#t {
		display:block;
	}
}

.tablet-and-desktop() {
	a {
		color: red;
	}
	#td {
		display:block;
	}
}

.mobile-and-tablet() {
	a {
		color: green;
	}
	#mt {
		display:block;
	}
}

.mobile-and-desktop() {
	a {
		color: blue;
	}
	#md {
		display:block;
	}
}


